<h1>Real Estate Game</h1>

<div class="mainPage row>">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h3>How it works</h3>
			<p>Real Estate Game helps people learn about investing in housing market. User needs to login or sign up to start a game. Every user will start with $1.000.000. User searches for houses using address, city and state. He/she buys a property. The "fast forward 1 month" button creates a bad or good event that affects the property's price. He/she can also sell the property. The ranking in user's profile shows the ranking of players with the most cash once all properties are sold.</p>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

		<form ng-submit="userAction()" ng-hide="isLoggedIn()">
			<legend>Login</legend>
		
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="emailIn" ng-model= "user.email" placeholder="andy@yahoo.com">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="passwordIn" ng-model="user.password" placeholder="password">
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<img src="app/images/green_500.jpeg" ng-show="isLoggedIn()" />
		
	</div>
</div>