<h1 class="animated rollIn">Property Detail</h1>

<div class="propertyShow animated fadeIn">
	
		<p>Address: <b>{{property.address}}</b></p>
		<p>City & State: <b>{{property.city}}</b>, <b>{{property.state}}</b> <b>{{property.zip}}</b> </p>
		<p>Price: <b>${{property.price}}</b></p>
		<p>Year Built: <b>{{property.yearBuilt}}</b></p>	
		<p>Lot Size: <b>{{property.lotSize}}</b></p>
		<p>Bedrooms: <b>{{property.bedrooms}}</b></p>
		<p>Bathrooms: <b>{{property.bathrooms}}</b></p>
		<p>Last sold price: <b>${{property.lastSoldPrice}}</b></p>
	
		<button ng-click="createEvent()" class="btn btn-info">Fast forward 1 month</button>
		<button ng-click="deleteProperty()" class="btn btn-danger">Sell this property</button>
	
</div>